<div>
    <h2 id="page-heading">
        <span jhiTranslate="apiArtisanApp.userProduit.home.title">User Produits</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-produit" [routerLink]="['/user-produit/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="apiArtisanApp.userProduit.home.createLabel">
            Create a new User Produit
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="userProduits?.length === 0">
        <span jhiTranslate="apiArtisanApp.userProduit.home.notFound">No userProduits found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="userProduits && userProduits.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deleted"><span jhiTranslate="apiArtisanApp.userProduit.deleted">Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.login"><span jhiTranslate="apiArtisanApp.userProduit.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="produit.id"><span jhiTranslate="apiArtisanApp.userProduit.produit">Produit</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userProduit of userProduits ;trackBy: trackId">
                    <td><a [routerLink]="['/user-produit', userProduit.id, 'view']">{{ userProduit.id }}</a></td>
                    <td>{{ userProduit.deleted }}</td>
                    <td>
                        {{ userProduit.user?.login }}
                    </td>
                    <td>
                        <div *ngIf="userProduit.produit">
                            <a [routerLink]="['/produit', userProduit.produit?.id, 'view']" >{{ userProduit.produit?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/user-produit', userProduit.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/user-produit', userProduit.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(userProduit)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="userProduits && userProduits.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
