<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="localisation">
            <h2><span jhiTranslate="apiArtisanApp.localisation.detail.title">Localisation</span> {{ localisation.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="apiArtisanApp.localisation.latitude">Latitude</span></dt>
                <dd>
                    <span>{{ localisation.latitude }}</span>
                </dd>
                <dt><span jhiTranslate="apiArtisanApp.localisation.longitude">Longitude</span></dt>
                <dd>
                    <span>{{ localisation.longitude }}</span>
                </dd>
                <dt><span jhiTranslate="apiArtisanApp.localisation.adresse">Adresse</span></dt>
                <dd>
                    <span>{{ localisation.adresse }}</span>
                </dd>
                <dt><span jhiTranslate="apiArtisanApp.localisation.deleted">Deleted</span></dt>
                <dd>
                    <span>{{ localisation.deleted }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/localisation', localisation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
