<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="specialite">
            <h2><span jhiTranslate="apiArtisanApp.specialite.detail.title">Specialite</span> {{ specialite.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="apiArtisanApp.specialite.libelle">Libelle</span></dt>
                <dd>
                    <span>{{ specialite.libelle }}</span>
                </dd>
                <dt><span jhiTranslate="apiArtisanApp.specialite.code">Code</span></dt>
                <dd>
                    <span>{{ specialite.code }}</span>
                </dd>
                <dt><span jhiTranslate="apiArtisanApp.specialite.havingGenre">Having Genre</span></dt>
                <dd>
                    <span>{{ specialite.havingGenre }}</span>
                </dd>
                <dt><span jhiTranslate="apiArtisanApp.specialite.deleted">Deleted</span></dt>
                <dd>
                    <span>{{ specialite.deleted }}</span>
                </dd>
                <dt><span jhiTranslate="apiArtisanApp.specialite.avatar">Avatar</span></dt>
                <dd>
                    <div *ngIf="specialite.avatar">
                        <a (click)="openFile(specialite.avatarContentType, specialite.avatar)">
                            <img [src]="'data:' + specialite.avatarContentType + ';base64,' + specialite.avatar" style="max-width: 100%;" alt="specialite image"/>
                        </a>
                        {{ specialite.avatarContentType }}, {{ byteSize(specialite.avatar) }}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/specialite', specialite.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
